# Python мусор
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Виртуальное окружение
.venv/
env/
venv/

# IDE
.idea/
.vscode/

# Git и локальные
.git/
.gitignore

# Кэши и артефакты
*.log
*.pid
*.gz
*.egg-info/
dist/
build/
migrations/__pycache__/

# Fly / Docker вспомогательные
fly.toml
Dockerfile
.dockerignore
